* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;;
    height: 100vh;
    width: 100vw;
    background-color: #ede8e8;
}

.logo {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100%;
    background-color: #363636;
}

#logo {
    width: 100%;
}

.reveal-svg {
    width: 500px;
    opacity: 0;
    animation: fadeInClip 4s ease-out forwards;
    clip-path: inset(0 100% 0 0); /* Start fully clipped on the right */
  }

  @keyframes fadeInClip {
    0% {
      opacity: 0;
      clip-path: inset(0 100% 0 0);
    }
    100% {
      opacity: 1;
      clip-path: inset(0 0% 0 0); /* Reveal fully */
    }
  }