* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;;
    height: 100vh;
    width: 100vw;
    background-color: #ede8e8;
}

.logo {
    display: flex;
    margin: 10px;
    justify-content: center;
    height: 20vh;
    width: 100%;
    background-color: #363636;
}

#logo {
    width: 90%;
}

.reveal-svg {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 100%;
    opacity: 0;
    animation: fadeInClip 4s ease-out forwards;
    clip-path: inset(0 100% 0 0); 
  }

  @keyframes fadeInClip {
    0% {
      opacity: 0;
      clip-path: inset(0 100% 0 0);
    }
    100% {
      opacity: 1;
      clip-path: inset(0 0% 0 0);
    }
  }